<html>
  <head>
    <title>Amtrak Status</title>
    <link rel="stylesheet" href="style.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="page" id="header">
      <div class="container">
        <div class="left">
          <header>Amtrak Status</header>
          <div id="tagline">
            Making catching the train easier.
          </div>
        </div>
        <div class="right" id="links">
          <a class="source" href="https://github.com/tlunter/amtrak_mac">OS X Source</a>
          <a class="source" href="https://github.com/tlunter/amtrak_endpoint">Endpoint Source</a>
          <a class="source" href="https://github.com/tlunter/amtrak_gem">Gem Source</a>
        </div>
      </div>
    </div>
    <div class="page" id="osx">
      <div class="container textcenter">
        <h1>OS X</h1>
        <div class="feature well">
          <img src="http://tlunter-amtrak.s3.amazonaws.com/imgs/osx/default.png" class="screenshot">
          <div class="copy">
            The most up-to-date schedule of today's Amtrak trains from and to where you want to go in your statusbar.
            Just enter the three letter code for where you want to depart from and arrive at.
            Anything that is valid on the website is valid here.
          </div>
        </div>
        <div class="feature well">
          <img src="http://tlunter-amtrak.s3.amazonaws.com/imgs/osx/preferred_train.png" class="screenshot">
          <div class="copy">
            Select your preferred train an minimize search time.
            Set which train number you're looking for and if we find it, we'll highlight it.
          </div>
        </div>
        <div class="feature well">
          <img src="http://tlunter-amtrak.s3.amazonaws.com/imgs/osx/delay_color.png" class="screenshot">
          <div class="copy">
            Changing icon colors give you a quick glance perspective of how long you'll have to wait.
            <table>
              <thead>
                <tr>
                  <th>Color</th><th>At least this late</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Yellow</td><td>15 minutes late</td>
                </tr>
                <tr>
                  <td>Orange</td><td>45 minutes late</td>
                </tr>
                <tr>
                  <td>Red</td><td>hour and a half</td>
                </tr>
              </tbody>
            </table>
            Also, try enabling to show the train time in the system bar for quicker awareness.
          </div>
        </div>
        <div class="feature well">
          <img src="http://tlunter-amtrak.s3.amazonaws.com/imgs/osx/preferences.png" class="screenshot">
          <div class="copy">
            Can easily update what stations you're looking for, preferred train,
            whether you want to show the train time in the system bar and enable automatic updates.
          </div>
        </div>
        <div class="feature well">
          <img src="http://tlunter-amtrak.s3.amazonaws.com/imgs/osx/time_in_system_bar.png" class="screenshot">
          <div class="copy">
            Show the time: never, only when the trains late, or whenever the train has an estimated arrival time!
          </div>
        </div>
      </div>
    </div>
    <div class="page" id="endpointgem">
      <div class="container textcenter">
        <div class="half textcenter">
          <h1>Endpoint</h1>
          <div class="feature well">
            <img src="http://tlunter-amtrak.s3.amazonaws.com/imgs/endpoint/json.png" class="screenshot">
            <div class="copy">
              Looking for the raw data, accessible as a JSON endpoint?
              Here it is!
              <pre>https://amtrak.tlunter.com/FROM/TO.json</pre>
              <table>
                <thead>
                  <tr>
                    <th>Parameter</th><th>Required</th><th>Location</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                  <td>from/to</td>
                  <td>Yes</td>
                  <td>Path</td>
                </tr>
                <tr>
                  <td>date</td>
                  <td>No</td>
                  <td>Query parameter</td>
                </tr>
                </tbody>
              </table>
              Example stations: PVD, BOS, BBY, Providence, RI (PVD), Boston - South Station, MA (BOS), Boston - Back Bay, MA (BBY)
            </div>
          </div>
        </div>
        <div class="half textcenter">
          <h1>Gem</h1>
          <div class="feature well">
            <img src="http://tlunter-amtrak.s3.amazonaws.com/imgs/gem/hash.png" class="screenshot">
            <div class="copy">
              Simple interface follows the same as the endpoint.  Two required parameters, and an optional date.
              <pre>Amtrak.get(String, String, date: Date)</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page" id="footer">
      <div class="container">
        <footer>
          <p>
            <a class="source" href="https://github.com/tlunter/amtrak_mac">OS X Source</a>
            <a class="source" href="https://github.com/tlunter/amtrak_endpoint">Endpoint Source</a>
            <a class="source" href="https://github.com/tlunter/amtrak_gem">Gem Source</a>
          </p>
          <p>
            By Todd Lunter  <a href="https://github.com/tlunter">GitHub</a> <a href="https://twitter.com/tlunter">Twitter</a>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
