* {
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;

  font-family: 'Open Sans';
  font-weight: 400;
  color: #2a2a2a;
  text-shadow: 0 1px #eee;
}

p {
  padding: 15px;
}

.container {
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
}

.page {
  position: relative;

  padding: 30px;
}

.page h1 {
  text-align: center;
}

.screenshot {
  border-radius: 5px;
  padding: 10px;
}

.feature img {
}

.feature {
  display: inline-block;

  width: 33%;
  min-width: 300px;

  text-align: left;

  vertical-align: top;
}

.feature table {
  margin: 20px 0;
}

.feature table tr td:last-child {
  padding: 0 5px;
}

.feature .textcenter {
  width: 100%;
}

.textcenter {
  text-align: center;
}

#header {
}

#header header {
  display: inline-block;

  font-size: 48px;
}

#header #links {
  float: right;
}

#header #links a.source {
  display: inline-block;
  width: 190px;
  height: 25px;

  margin: 5px 15px;
  padding: 15px 20px;

  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;

  color: #fff;
  background-color: #1375b3;
  text-shadow: 0 1px #2a2a2a;

  border-radius: 10px;

  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#header #links a.source:hover,
#header #links a.source:visited {
  color: #fff;
  text-decoration: none;
}

#header #links a.source:hover {
  background-color: #096098;
}

#osx {
  background-color: #e0e0e0;
}

#endpoint {
  color: #fff;
  background-color: #1375b3;
  text-shadow: 0 1px #2a2a2a;
}

#footer {
}
