a {
  color: #000;

  &:hover, &:visited {
    color: #676767;
  }
}

#header {
  header {
    display: inline-block;

    font-size: 48px;
  }

  #links {
    a.source {
      display: inline-block;
      width: 200px;

      margin: 5px 15px;
      padding: 15px 20px;

      font-size: 20px;
      line-height: 25px;
      text-align: center;
      text-decoration: none;

      color: #fff;
      background-color: #1375b3;
      text-shadow: 0 1px #2a2a2a;

      border-radius: 10px;

      -webkit-transition: background-color 0.5s ease;
      -moz-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease;

      &:hover,
      &:visited {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        background-color: #096098;
      }

      @media (max-width: @maxWidth) {
        margin: 5px auto;

        display: block;
      }
    }
  }
}

#footer {
}

.container {
  width: 100%;
  max-width: 1300px;

  margin: 0 auto;
}

.page {
  position: relative;

  padding: 30px;

  @media (max-width: @maxWidth) {
    padding: 5px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  h1 {
    text-align: center;
  }
}

.screenshot {
  border-radius: @borderRadius @borderRadius 0 0;
  border-bottom: 1px solid #999;
  width: 100%;
}

.well {
  border-radius: @borderRadius;
  border: 1px solid #999;
}

.feature {
  display: inline-block;

  margin: 10px 5px;

  text-align: left;

  vertical-align: top;

  .copy {
    padding: 10px;
  }

  table {
    margin: 20px 0;

    color: inherit;

    tr td, tr th {
      text-align: left;
      padding: 0 5px;
    }
  }

  pre {
    margin: 15px;
    width: 100%;

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

footer {
  text-align: center;

  a.source {
    display: inline-block;
    width: 200px;

    margin: 5px 15px;
    padding: 15px 20px;

    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;

    color: #fff;
    background-color: #1375b3;
    text-shadow: 0 1px #2a2a2a;

    border-radius: 10px;

    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;

    &:hover,
    &:visited {
      color: #fff;
      text-decoration: none;
    }

    &:hover {
      background-color: #096098;
    }

    @media (max-width: @maxWidth) {
      margin: 5px auto;

      display: block;
    }
  }
}
